<launch>

    <arg name="art_namespace" default="/ar_trackers" />

    <group ns="z_jar_opener">
        <node name="pose_relay" pkg="me495_baxter_jar" type="relay_obj_pose.py" respawn="false">
            <remap from="ar_pose_marker"        to="$(arg art_namespace)/ar_pose_marker" />
        </node>
    </group>

</launch>