<launch>

    <arg name="marker_size" default="4.0" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />

    <group ns="ar_trackers">
        <node name="lh_ar_track" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
            <param name="marker_size" value="$(arg marker_size)" />
            <param name="max_new_marker_error" value="$(arg max_new_marker_error)" />
            <param name="max_track_error" value="$(arg max_track_error)" />
            <param name="output_frame" value="/base" />

            <remap from="camera_image" to="/cameras/left_hand_camera/image" />
            <remap from="camera_info" to="/cameras/left_hand_camera/camera_info" />
        </node>
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find me495_baxter_jar)/rviz/AR.rviz" required="true"/>

</launch>